.form{
    height: 50vh;
    width: 60vw;
    background-color: grey;
    margin-left: 20vw;
}
#guessField{
    height: 5vh;
    margin-top: 20vh;
    margin-left: 40vh;
}
#submitGuess{
    height: 5vh;
    margin-top: 20vh;
}
#newNumber{
    height: 5vh;
    margin-top: 20vh;
}